<div class="section user-profile">
  <div class="global-nav">
    <div class="row justify-content-end">
      <%= render partial: 'layouts/nav' %>
    </div>
  </div>
  <div class="row full-height">
    <div class="col-lg-6 md-form text-center">
      <%= render partial: 'layouts/alerts' %>

      <h2>Profile</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <h3>
          <a data-toggle="collapse"
             href="#update-basic"
             aria-expanded="false"
             aria-controls="collapseExample"
             class="collapsed">
            Basic Details <i class="fas fa-chevron-up"></i><i class="fas fa-chevron-down"></i>
          </a>
        </h3>
        <div id="update-basic" class="form-section collapse">
          <div class="row p-0">
            <div class="col">
              <div class="form-group floating-label">
                <%= f.text_field :first_name, class: "form-control", placeholder: " First name", :required => true %>
                <%= f.label :first_name %>
              </div>
            </div>
            <div class="col">
              <div class="form-group floating-label">
                <%= f.text_field :last_name, class: "form-control", placeholder: " Last name", :required => true %>
                <%= f.label :last_name %>
              </div>
            </div>
          </div>

          <div class="form-group floating-label">
            <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: " Email" %>
            <%= f.label :email %>
          </div>

          <div class="form-group floating-label">
            <%= f.text_field :contact_phone, autocomplete: "tel", class: "form-control", placeholder: " Phone Number" %>
            <%= f.label :contact_phone %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

        </div>

        <h3>
          <a data-toggle="collapse"
             href="#update-personal"
             aria-expanded="false"
             aria-controls="collapseExample"
             class="collapsed">
            Personal Details <i class="fas fa-chevron-up"></i><i class="fas fa-chevron-down"></i>
          </a>
        </h3>
        <div id="update-personal" class="form-section collapse">

          <div class="form-group floating-label">
            <%= f.text_field :address_company, class: "form-control", placeholder: " Company name" %>
            <%= f.label :address_company, 'Company name' %>
          </div>
          <div class="form-group floating-label">
            <%= f.text_field :address_1, class: "form-control", placeholder: " Street address" %>
            <%= f.label :address_1, 'Street address' %>
          </div>
          <div class="form-group floating-label">
            <%= f.text_field :address_2, class: "form-control", placeholder: " Address line 2" %>
            <%= f.label :address_2, 'Address line 2' %>
          </div>
          <div class="form-group floating-label">
            <%= f.text_field :address_town, class: "form-control", placeholder: " Town / City" %>
            <%= f.label :address_town, 'Town / City' %>
          </div>
          <div class="form-group floating-label">
            <%= f.text_field :address_county, class: "form-control", placeholder: " County" %>
            <%= f.label :address_county, 'County' %>
          </div>
          <div class="form-group floating-label">
            <%= f.text_field :address_postcode, class: "form-control", placeholder: " Post Code" %>
            <%= f.label :address_postcode, 'Post Code' %>
          </div>

        </div>

        <h3>
          <a data-toggle="collapse"
             href="#update-emergency"
             aria-expanded="false"
             aria-controls="collapseExample"
             class="collapsed">
            Emergency Contact Details <i class="fas fa-chevron-up"></i><i class="fas fa-chevron-down"></i>
          </a>
        </h3>
        <div id="update-emergency" class="form-section collapse">
          <div class="form-group floating-label">
            <%= f.text_field :emergency_name, class: "form-control", placeholder: " Name" %>
            <%= f.label :emergency_name, 'Name' %>
          </div>
          <div class="form-group floating-label">
            <%= f.text_field :emergency_relationship, class: "form-control", placeholder: " Relationship to you" %>
            <%= f.label :emergency_relationship, 'Relationship to you' %>
          </div>
          <div class="form-group floating-label">
            <%= f.telephone_field :emergency_number, class: "form-control", placeholder: " Contact number" %>
            <%= f.label :emergency_number, 'Contact number' %>
          </div>
          <div class="form-group floating-label">
            <%= f.email_field :emergency_email, class: "form-control", placeholder: " Contact email" %>
            <%= f.label :emergency_email, 'Contact email' %>
          </div>
        </div>

        <h3>
          <a data-toggle="collapse"
             href="#upload-documents"
             aria-expanded="false"
             aria-controls="collapseExample"
             class="collapsed">
            Documents <i class="fas fa-chevron-up"></i><i class="fas fa-chevron-down"></i>
          </a>
        </h3>
        <div id="upload-documents" class="form-section collapse">
          <div class="form-group buttons">
            <a href="mailto:donotreply@mobilise.cloud?subject=CV%20of%20<%= current_user.first_name %>%20<%= current_user.last_name %>&body=Please%20attach%20your%20CV%20to%20this%20email" target="_blank" class="btn btn-secondary">Submit CV</a>
            <a href="mailto:donotreply@mobilise.cloud?subject=Self%20Assessment%20of%20<%= current_user.first_name %>%20<%= current_user.last_name %>&body=Please%20attach%20your%20self%20assessment%20to%20this%20email" target="_blank" class="btn btn-secondary">Submit Self Assessment</a>
          </div>

        </div>

        <h3>
          <a data-toggle="collapse"
             href="#agreements"
             aria-expanded="false"
             aria-controls="collapseExample"
             class="collapsed">
            Agreements <i class="fas fa-chevron-up"></i><i class="fas fa-chevron-down"></i>
          </a>
        </h3>
        <div id="agreements" class="form-section collapse">
          <div class="form-group agreements text-left">
            <div class="row p-0">
              <div class="col-md-6 form-check checkbox-lg">
                <%= f.check_box :job_email_agreement, class: "form-check-input" %>
                <%= f.label :job_email_agreement, "#{link_to 'Job Alert Agreement', email_terms_path}.".html_safe, class: "form-check-label" %>
              </div>

              <div class="col-md-6 form-check checkbox-lg">
                <%= f.check_box :marketing_email_agreement, class: "form-check-input" %>
                <%= f.label :marketing_email_agreement, "#{link_to 'Marketing Agreement', email_terms_path}.".html_safe, class: "form-check-label" %>
              </div>
            </div>
          </div>

        </div>

        <h3>
          <a data-toggle="collapse"
             href="#update-password"
             aria-expanded="false"
             aria-controls="collapseExample"
             class="collapsed">
            Update Password <i class="fas fa-chevron-up"></i><i class="fas fa-chevron-down"></i>
          </a>
        </h3>
        <div id="update-password" class="form-section collapse">
          <div class="form-group floating-label">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: " Password (6 characters minimum)" %>
            <%= f.label :password %>
          </div>
          <div class="form-caption"><i>(leave blank if you don't want to change it)</i></div>

          <div class="form-group floating-label">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: " Password again" %>
            <%= f.label :password_confirmation %>
          </div>
        </div>

        <h3>Password Confirmation</h3>
        <div class="form-group floating-label">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          <%= f.label :current_password %>
        </div>
        <div class="form-caption"><i>(we need your current password to confirm your changes)</i></div>

        <div class="actions form-group">
          <%= f.submit "Update", class: "btn btn-secondary" %>
        </div>
      <% end %>


      <div id="update-cancel" class=" collapse">
        <h3>Cancel my account</h3>

        <div class="actions form-group">
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger" %></p>
        </div>
      </div>
    </div>



  </div>
</div>