<div id="fullpage">

  <div class="section global-nav">
    <div class="row justify-content-end">
      <%= render partial: 'layouts/nav' %>
    </div>
  </div>

  <div class="admin-content brand-background text-center">
    <section class="row full-width container-fluid">
      <div class="col">
        <%= render partial: 'layouts/alerts' %>
        <h2>Job Details</h2>
      </div>
      <div class="row full-width justify-content-md-center">
        <div class="col-md-6">
          <h3><em><%= @job.title %></em></h3>
          <p><strong>Current Applications: </strong><%= @job_applications.count() %></p>
          <% if @job_applications.count() > 0 %>
            <%= link_to "View Applications",  admin_job_job_applications_path(@job), :class => 'btn btn-secondary' %>
          <% end %>

          <div class="user-info-table mt-3">
            <h4>Key Info</h4>
            <table class="table table-sm ">

              <tr>
                <th scope="row">Open:</th>
                <td><%= @job.open %></td>
              </tr>
              <tr>
                <th scope="row">Keywords:</th>
                <td><%= @job.keywords&.join(', ') %></td>
              </tr>
              <tr>
                <th scope="row">Created Date:</th>
                <td><%= @job.created_at %></td>
              </tr>
              <tr>
                <th scope="row">Published Date:</th>
                <td><%= @job.published_date %></td>
              </tr>
              <tr>
                <th scope="row">Latest Start Date:</th>
                <td><%= @job.latest_start_date %></td>
              </tr>
              <tr>
                <th scope="row">Award Date:</th>
                <td><%= @job.award_date %></td>
              </tr>
              <tr>
                <th scope="row">Contract Length:</th>
                <td><%= @job.contract_length %></td>
              </tr>
              <tr>
                <th scope="row">Day Rate:</th>
                <td>£<%= @job.day_rate %></td>
              </tr>
              <tr>
                <th scope="row">Company:</th>
                <td><%= @job.address_company %></td>
              </tr>
              <tr>
                <th scope="row">Location:</th>
                <td><%= @job.address_town %>, <%= @job.address_county %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row full-width my-4">
        <div class="col-md-6">
          <h3>Description</h3>
          <div class="text-left"><%= simple_format(@job.description) %></div>
        </div>
        <div class="col-md-6">
          <h3>Requirements</h3>
          <div class="text-left"><%= simple_format(@job.requirements) %></div>
        </div>
      </div>

      <div class="row full-width my-4">
        <div class="col-md-6">
          <h3>Further Details</h3>
          <p><strong>Working Arrangements: </strong><%= simple_format(@job.working_arrangements) %></p>
          <p><strong>Team: </strong><%= simple_format(@job.team) %></p>
        </div>
        <div class="col-md-6">
          <h3>Full Address</h3>
          <div class="">
            <p><%= @job.address_company %></p>
            <p><%= @job.address_1 %></p>
            <p><%= @job.address_2 %></p>
            <p><%= @job.address_town %></p>
            <p><%= @job.address_county %></p>
            <p><%= @job.address_postcode %></p>
          </div>
        </div>
      </div>

    </section>

    <section class="row">
      <div class="col user-profile">
        <h2>Edit Job</h2>
        <%= button_to "Delete Job", admin_job_path(@job), data: { confirm: "Are you sure? Any applications for this job will also be deleted." }, method: :delete, class: 'btn btn-sm btn-danger' %>

        <div class="md-form">
          <%= form_for(@job, url: admin_job_path, html: {method: :put}) do |f| %>
            <%= render "devise/shared/error_messages", resource: @job %>

            <div class="form-group row justify-content-center">
              <div class="form-check checkbox-lg">
                <%= f.check_box :open, class: "form-check-input" %>
                <%= f.label :open, "Open for Applications", class: "form-check-label" %>
              </div>
            </div>

            <div class="form-group floating-label">
              <%= f.text_field :title, placeholder: " Title", class: "form-control" %>
              <%= f.label :title %>
            </div>

            <div class="form-group floating-label">
              <%= f.text_field :keywords, placeholder: " Keywords", class: "form-control", autocomplete:  "off", list: "keywords"%>
              <%= f.label :keywords %>
              <datalist id="keywords">
                <option>agile_coach</option>
                <option>business_analyst</option>
                <option>communications_manager</option>
                <option>content_designer</option>
                <option>cyber_security</option>
                <option>data_architect</option>
                <option>data_engineer</option>
                <option>data_scientist</option>
                <option>delivery_manager</option>
                <option>designer</option>
                <option>developer</option>
                <option>devops_engineer</option>
                <option>performance_analyst</option>
                <option>portfolio_manager</option>
                <option>product_manager</option>
                <option>programme_manager</option>
                <option>quality_assurance</option>
                <option>service_manager</option>
                <option>technical_architect</option>
                <option>user_researcher</option>
                <option>web_operations_engineer</option>
              </datalist>
            </div>

            <div class="form-group floating-label">
              <%= f.text_area :description, placeholder: " Description", class: "form-control" %>
              <%= f.label :description %>
            </div>

            <div class="row">

              <div class="form-group floating-label col-md-4">
                <%= f.date_field :published_date, placeholder: " Published Date", class: "form-control", :required => true %>
                <%= f.label :published_date, class: "pl-3"%>
              </div>

              <div class="form-group floating-label col-md-4 pl-0">
                <%= f.date_field :latest_start_date, placeholder: " Latest Start Date", class: "form-control", :required => true %>
                <%= f.label :latest_start_date %>
              </div>

              <div class="form-group floating-label col-md-4 pl-0">
                <%= f.date_field :award_date, placeholder: " Award Date", class: "form-control", :required => true %>
                <%= f.label :award_date %>
              </div>

            </div>

            <div class="form-group floating-label">
              <%= f.text_field :contract_length, placeholder: " Contract Length", class: "form-control" %>
              <%= f.label :contract_length %>
            </div>

            <div class="form-group floating-label">
              <%= f.number_field :day_rate, unit: '£', placeholder: " Day Rate", class: "form-control" %>
              <%= f.label :day_rate %>
            </div>

            <div class="form-group floating-label">
              <%= f.text_area :working_arrangements, placeholder: " Working Arrangements", class: "form-control" %>
              <%= f.label :working_arrangements %>
            </div>

            <div class="form-group floating-label">
              <%= f.text_area :team, placeholder: " Team", class: "form-control" %>
              <%= f.label :team %>
            </div>

            <div class="form-group floating-label">
              <%= f.text_area :requirements, placeholder: " Requirements", class: "form-control" %>
              <%= f.label :requirements %>
            </div>

            <h4><em>Job Address</em></h4>
            <div class="form-group floating-label">
              <%= f.text_field :address_company, class: "form-control", placeholder: " Company name" %>
              <%= f.label :address_company, 'Company name' %>
            </div>
            <div class="form-group floating-label">
              <%= f.text_field :address_1, class: "form-control", placeholder: " Street address" %>
              <%= f.label :address_1, 'Street address' %>
            </div>
            <div class="form-group floating-label">
              <%= f.text_field :address_2, class: "form-control", placeholder: " Address line 2" %>
              <%= f.label :address_2, 'Address line 2' %>
            </div>
            <div class="form-group floating-label">
              <%= f.text_field :address_town, class: "form-control", placeholder: " Town / City" %>
              <%= f.label :address_town, 'Town / City' %>
            </div>
            <div class="form-group floating-label">
              <%= f.text_field :address_county, class: "form-control", placeholder: " County" %>
              <%= f.label :address_county, 'County' %>
            </div>
            <div class="form-group floating-label">
              <%= f.text_field :address_postcode, class: "form-control", placeholder: " Post Code" %>
              <%= f.label :address_postcode, 'Post Code' %>
            </div>


            <div class="actions form-group">
              <%= f.submit "Update", class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </section>

  </div>
</div>
