<div id="fullpage">

  <div class="section global-nav">
    <div class="row justify-content-end">
      <%= render partial: 'layouts/nav' %>
    </div>
  </div>

  <div class="admin-content brand-background text-center">
    <section class="row full-width container-fluid detail-section">
      <div class="row full-width">
        <div class="col">
          <%= render partial: 'layouts/alerts' %>
          <h2>Job Application Details</h2>
        </div>
      </div>
      <div class="row full-width">
        <div class="col-md-6">
          <h3 class="pt-3">Job Details</h3>
          <h6><strong><em>Job Title</em></strong></h6>
          <h4> <%= @application.job.title %> </h4>
          <h6><strong><em>Job Keywords</em></strong></h6>
          <p> <%= @application.job.keywords&.join(', ') %> </p>
          <h6><strong><em>Job Description</em></strong></h6>
          <p> <%= @application.job.description %> </p>
          <h6><strong><em>Job Requirements</em></strong></h6>
          <p> <%= @application.job.requirements %> </p>
          <%= link_to "Full Job Details", job_path(@application.job), :class => 'btn btn-sm btn-info' %>
        </div>

        <div class="col-md-6">
          <h3 class="pt-3">User Details</h3>
          <h6><strong><em>Name</em></strong></h6>
          <h4> <%= @application.user.first_name %> <%= @application.user.last_name %> </h4>
          <h6><strong><em>User Keywords</em></strong></h6>
          <p> <%= @application.user.keywords&.join(', ') %> </p>
          <h6><strong><em>Uploaded Self Assessment &nbsp;&nbsp;</em>
            <% if @application.user.uploaded_self_assessment? %><i class="text-success fas fa-check"></i>
            <% else %> <i class="text-danger fas fa-times"></i>
            <% end %>
          </strong></h6>
          <h6><strong><em>Uploaded CV &nbsp;&nbsp;</em>
            <% if @application.user.uploaded_cv? %><i class="text-success fas fa-check"></i>
            <% else %> <i class="text-danger fas fa-times"></i>
            <% end %>
          </strong></h6>
          <h6><strong><em>Profile Completion &nbsp;&nbsp;</em><%= @application.user.profile_completion %>
            <% if @application.user.profile_completion? %>%
            <% else %><span class="text-danger">0%</span>
            <% end %>
          </strong></h6>
          <%= link_to "User Details", admin_user_path(@application.user), :class => 'btn btn-sm btn-info' %>
        </div>
      </div>

      <div class="row full-width">
        <div class="col">
          <h3>Application Details</h3>
          <h6><strong><em>Application Cover Paragraph</em></strong></h6>
          <p><%= @application.cover %></p>
          <h6><strong><em>Matched Keywords</em></strong></h6>
          <p>
            <% if (@application.user.keywords & @application.job.keywords).present? %>
              <%= (@application.user.keywords & @application.job.keywords)&.join(', ') %>
            <% else %>
              <strong class="alert-danger">No Keyword Matches</strong>
            <% end %>
          </p>
          <h6><strong><em>Application Status</em></strong></h6>
          <p><%= @application.status %></p>
          <h6><strong><em>Application Status Reason</em></strong></h6>
          <p><%= @application.status_reason %></p>
        </div>
      </div>

      <div class="row full-width">
        <div class="col">
          <div class="md-form mt-0">
            <h3>Manage Application</h3>
            <%= form_for(@application, url: admin_job_application_path, html: {method: :put}) do |f| %>
              <%= render "devise/shared/error_messages", resource: @application %>
              <div class="form-group select-div">

                <%= f.select :status,
                             options_for_select(["Open", "In Review", "Awarded", "Under Mobilisation", "On Site", "Failed"],
                                                @application.status ),
                             {include_blank: false,
                              include_hidden: false},
                             placeholder: " Status",
                             class: "form-control" %>
                <%= f.label :status %>

              </div>

              <div class="form-group floating-label">
                <%= f.text_area :status_reason, placeholder: " Status Reason", class: "form-control" %>
                <%= f.label :status_reason %>
              </div>


              <div class="actions form-group">
                <%= f.submit "Update", class: "btn btn-secondary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>