<div class="section header">
  <div class="row full-height">
    <%= render partial: 'layouts/brand_half_page' %>
    <div class="col-lg-6 md-form text-center">
      <h2>Resend unlock instructions</h2>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group floating-label">
          <div class="field">

            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email', :required => true %>
            <%= f.label :email %>
          </div>
        </div>

        <div class="actions form-group">
          <%= f.submit "Resend unlock instructions", class: 'btn btn-secondary' %>
        </div>
      <% end %>
      <hr/>
      <div class="other-actions">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>