<div id="fullpage">

  <div class="section global-nav">
    <div class="row justify-content-end">
      <%= render partial: 'layouts/nav' %>
    </div>
  </div>

  <div class="admin-content brand-background text-center">
    <section class="row full-width container-fluid">
      <div class="col">
        <%= render partial: 'layouts/alerts' %>
        <h2>Job Details</h2>
      </div>
      <div class="row full-width justify-content-md-center">
        <div class="col-md-6">
          <h3><em><%= @job.title %></em></h3>

          <div class="user-info-table">
            <h4>Key Info</h4>
            <table class="table table-sm ">


              <tr>
                <th scope="row">Created Date:</th>
                <td><%= @job.created_at %></td>
              </tr>
              <tr>
                <th scope="row">Published Date:</th>
                <td><%= @job.published_date %></td>
              </tr>
              <tr>
                <th scope="row">Latest Start Date:</th>
                <td><%= @job.latest_start_date %></td>
              </tr>
              <tr>
                <th scope="row">Award Date:</th>
                <td><%= @job.award_date %></td>
              </tr>
              <tr>
                <th scope="row">Contract Length:</th>
                <td><%= @job.contract_length %></td>
              </tr>
              <tr>
                <th scope="row">Day Rate:</th>
                <td>£<%= @job.day_rate %></td>
              </tr>
              <tr>
                <th scope="row">Company:</th>
                <td><%= @job.address_company %></td>
              </tr>
              <tr>
                <th scope="row">Location:</th>
                <td><%= @job.address_town %>, <%= @job.address_county %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row full-width my-4">
        <div class="col-md-3">
          <h3>Description</h3>
          <%= @job.description %>
        </div>
        <div class="col-md-3">
          <h3>Requirements</h3>
          <%= @job.requirements %>
        </div>
        <div class="col-md-3">
          <h3>Further Details</h3>
          <p><strong>Working Arrangements: </strong><%= @job.working_arrangements %></p>
          <p><strong>Team: </strong><%= @job.team %></p>

        </div>
        <div class="col-md-3">
          <h3>Full Address</h3>
          <div class="">
            <p><%= @job.address_company %></p>
            <p><%= @job.address_1 %></p>
            <p><%= @job.address_2 %></p>
            <p><%= @job.address_town %></p>
            <p><%= @job.address_county %></p>
            <p><%= @job.address_postcode %></p>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>