<div id="fullpage" >
  <div class="section header">
    <div class="global-nav">
      <div class="row justify-content-end">
        <%= render partial: 'layouts/nav' %>
      </div>
    </div>
    <div class="row full-height full-width">
      <%= render partial: 'layouts/alerts' %>

        <div class="col-lg-6 brand text-center">
          <h3 class="column-title">Welcome <%= current_user.first_name %></h3>
          <%= link_to "Update Profile", edit_user_registration_path, :class => 'btn btn-secondary' %>
          <%= link_to "View Jobs", "/jobs" , :class => 'btn btn-secondary' %>

          <div class="profile-pie">
            <canvas id="profileCompletionPie"></canvas>
          </div>
        </div>

        <div class="col-lg-6 pr-0">
          <h3 class="text-center column-title">Recent Jobs</h3>
          <div class="card-deck">
            <% @jobs.each do |job| %>
                <div class="card job-card">
                  <div class="card-header"></div>
                  <div class="card-body">
                    <h3 class="card-title"><%= job.title %></h3>
                    <p class="card-text"><%= job.description %></p>
                    <hr />
                    <div class="key-info text-left">
                      <p><strong>Company: </strong><%= job.address_company %></p>
                      <p><strong>Location: </strong><%= job.address_town %>, <%= job.address_county %></p>
                      <p><strong>Duration: </strong><%= job.contract_length %></p>
                      <p><strong>Published Date: </strong><%= job.published_date %></p>
                    </div>
                  </div>
                  <div class="card-footer text-center">
                    <%= link_to "More Info",  job_path(job), :class => 'btn btn-secondary' %>
                    <%= link_to "Apply Now",  job_path(job), :class => 'btn btn-success' %>
                    <p><small class="text-muted">Last updated <%= time_ago_in_words(job.updated_at) %></p></small>
                  </div>
                </div> <!--End Card-->
            <% end %>
          </div> <!--End Deck-->
        </div>

    </div>
  </div>
</div>

<!-- Custom JS -->
<%= javascript_tag do %>
  window.profile_completion = "<%= current_user.profile_completion %>";
<% end %>
<%= javascript_include_tag 'chart-dashboard-settings' %>
