<div id="fullpage" >
  <div class="section header">
    <div class="row full-height">
      <div class="col-lg-6 brand text-center">
<!--        <img src="assets/md-logo-white-cropped.png">-->
        <% if user_signed_in? %>
          <div class="row main-page-nav justify-content-end float-right">
            <% if not current_user.admin? %>
              <%= link_to 'Edit Users', "#", :class => 'nav-link admin' %>
              <%= link_to "Edit Jobs","#" , :class => 'nav-link admin' %>
              <span class="nav-link">|</span>
            <% else %>
              <span class="nav-data">Open Jobs: </span>
              <span class="nav-data">Open Applications: </span>
              <span class="nav-data">Profile %:  </span>
            <% end %>
            <%= link_to 'Jobs',"#", :class => 'nav-link jobs ' %>
            <%= link_to 'Profile', edit_user_registration_path, :class => 'nav-link edit-profile' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link logout' %>
          </div>
        <% end %>
        <h1 class="brand-4">MD</h1>
        <h2 class="brand-1"><span class="brand-2">mobilise</span>.Digital</h2>
        <h3 class="brand-1">Your 'non-agency' people</h3>

      </div>
      <div class="col-lg-6 welcome text-center">
<!--        <img src="assets/man-on-rocket.png">-->
        <h2>Welcome <% if user_signed_in? %>Back <%= current_user.first_name %><% end %></h2>
        <h4><strong>TO BE UPDATED</strong> Here at Mobilise Digital, we want to cut all the agency rubbish out of contractating. Our Core values are transparency, we'll give you all the information you've always wanted about the contacts you're working on.</h4>
        <h4>Pellentesque efficitur sed nisl vel ornare. Vestibulum placerat dolor et felis venenatis, et laoreet urna pretium. Etiam vel velit quis nisi fringilla maximus. Fusce eu eros at nunc placerat efficitur nec in erat. Quisque dictum leo at volutpat pulvinar. Fusce tempus orci in est finibus placerat. Nunc id luctus enim, id consequat ipsum. Cras tincidunt augue tortor, quis fringilla ex sagittis vitae.</h4>
        <div class="buttons">
          <% if not user_signed_in? %>
            <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary' %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-secondary' %>
          <% end %>
        </div>
        <h3 class="brand-1">Scroll down to find out more</h3>
        <a href="#isItForUs"><i class="fas fa-angle-down fa-9x"></i></a>
      </div>
    </div>
  </div>
  <div class="section background-orange">
    <div class="row text-center">
      <div class="col-md-6">Image here</div>
      <div class="col-md-6">
        <h1>The Cloud...</h1>
        <h2>is it for us?</h2>
        <br />
        <br />
        <h4>How can Mobilise help?</h4>
        <br />
        <p>We can write you a Cloud Strategy and help you understand how Cloud Adoption can help your business.</p>
        <br />
        <h4><button type="button" class="btn btn-info btn-lg">Let's Get Started</button></h4>
      </div>
    </div>
  </div>
  <div class="section background-purple">
    <div class="text-center">
      <div class="row text-center">
        <div class="col-md-6 d-sm-none d-md-block">Image Here</div>
        <div class="col-md-6">
          <h1>We want to get into The Cloud</h1>
          <h2>but we're a bit nervous</h2>
          <br />
          <br />
          <h4>How can Mobilise help?</h4>
          <br />
          <p>We can seamlessly migrate your existing servers and data to the Cloud and integrate them with any legacy applications and services. We can help you run these services which are migrated.</p>
          <br />
          <h4><button type="button" class="btn btn-info btn-lg">Let's Get Started</button></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="section background-black">
    <div class="text-center">
      <div class="row text-center">
        <div class="col-md-6 d-sm-none d-md-block">Image Here</div>
        <div class="col-md-6">
          <h1>We're Already in The Cloud...</h1>
          <h2>(sort of)​</h2>
          <br />
          <br />
          <h4>How can Mobilise help?</h4>
          <br />
          <p>We will review what you've put in place and advise on best practice and security.  We can convert your infrastructure to code, and help you run those services 24/7.</p>
          <br />
          <h4><button type="button" class="btn btn-info btn-lg">Let's Get Started</button></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="section background-tomato">
    <div class="text-center">
      <div class="row text-center">
        <div class="col-md-6 d-sm-none d-md-block">Image Here</div>
        <div class="col-md-6">
          <h1>We love The Cloud</h1>
          <h2>and want to get into containers.</h2>
          <br />
          <br />
          <h4>How can Mobilise help?</h4>
          <br />
          <p>We can take exisitng applications and convert them so they run in containers. We can then use Kubernetes to orchestrate container deployments and integrate container deployment with Ci/CD pipeline tooling. We can help you run this 24/7.</p>
          <br />
          <h4><button type="button" class="btn btn-info btn-lg">Let's Get Started</button></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="section background-cyan">
    <div class="text-center">
      <div class="row text-center">
        <div class="col-md-6 d-sm-none d-md-block">Image Here</div>
        <div class="col-md-6">
          <h1>The Cloud is Fantastic</h1>
          <h2>let's go SERVERLESS!</h2>
          <br />
          <br />
          <h4>How can Mobilise help?</h4>
          <br />
          <p>Let's redesign your applications so they use cloud-based functions so your code runs on demand without worrying about pesky servers! We can integrate deployments with CI/CD Pipeline Tooling. We can help you run this 24/7.</p>
          <br />
          <h4><button type="button" class="btn btn-info btn-lg">Let's Get Started</button></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/fullpagescrolldemo-options"></script>