<div id="fullpage">
  <div class="section header agreement-page">

    <% if user_signed_in? %>
      <div class="global-nav">
        <div class="row justify-content-end">
          <%= render partial: 'layouts/nav' %>
        </div>
      </div>
    <% end %>
    <div class="row full-height full-width">
      <%= render partial: 'layouts/brand_half_page' %>

      <div class="col-lg-6 agreement-content text-center">
        <%= render partial: 'layouts/alerts' %>
        <h2>Forming our own Community</h2>

        <p>We understand life as a contractor can sometimes be a solitary one with long hours in different cities,
          sometimes hundreds of miles away from your family. We also understand how professionally isolating this life
          can be and as part of the Mobilise Digital network, we want to give you the option of joining your own
          community to aid in development of your career.</p>

        <iframe src="https://www.youtube.com/embed/yOpgtC1JEzY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p>Working Out Loud is a way to build relationships that help you achieve a goal, develop a skill, or explore a
          new topic. Instead of networking to get something, you invest in relationships by making contributions over
          time, including your work and experiences that you make visible.</p>

        <p>Working Out Loud Circles, the peer support groups, help you experience the benefits for yourself.</p>

        <p>When you Work Out Loud, your contributions over time build trust and deepen a sense of relatedness,
          increasing the chances for cooperation and collaboration. You're more effective because you have access to
          more people, knowledge, and opportunities that can help you. You feel better too, because your bigger network
          of meaningful relationships give you a greater sense of control, competence, and connection.</p>

        <p>All of that leads to more motivation for individuals, and to more agility, innovation, and collaboration for
          an organization.</p>

        <p>Currently used by many companies around the world, you can see some examples for yourself below:</p>

        <p>
          <a href="https://media.daimler.com/marsMediaSite/en/instance/ko/DigitalLifeaDaimler-transformation-of-the-working-world-Daimler-and-Bosch-hold-the-first-inter-company-Working-Out-Loud-conference.xhtml?oid=41686666">
            Daimler - Inter-company Working Out Loud conference
          </a>
        </p>

        <p>
          <a href="https://www.bosch-presse.de/pressportal/de/en/the-future-of-work-virtual-expert-networks-boost-effectiveness-135872.html">
            Bosch - Future of Work
          </a>
        </p>

        <h4>How to start a circle and what to do next</h4>

        <p>Find 3 to 4 other people to join your circle. This can be other members of Mobilise Digital’s network or any
          of your professional contacts from Linkedin. If you would like to look for international members to your
          circle, check out the <a href="https://circlefinder.workingoutloud.com/">Circle Finder</a></p>

        <p>Review the PDF attachments below and download them to give you a week by week guide with
          accompanying videos here:
          <a href="https://library.workingoutloud.com/programs/circles"> Working Out Loud Library</a></p>

        <p>Schedule your first meeting with your circle!</p>

        <hr>
        <h4>Downloads</h4>
        <%= link_to "Download WOL Guide 1", "/community/download_wol_guide/1", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 2", "/community/download_wol_guide/2", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 3", "/community/download_wol_guide/3", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 4", "/community/download_wol_guide/4", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 5", "/community/download_wol_guide/5", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 6", "/community/download_wol_guide/6", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 7", "/community/download_wol_guide/7", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 8", "/community/download_wol_guide/8", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 9", "/community/download_wol_guide/9", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 10", "/community/download_wol_guide/10", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 11", "/community/download_wol_guide/11", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 12", "/community/download_wol_guide/12", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>
        <%= link_to "Download WOL Guide 13", "/community/download_wol_guide/13", target: "_blank",  class: "my-1 btn btn-sm btn-primary" %>

      </div>

    </div>
  </div>
  <%= render partial: 'layouts/footer' %>
</div>