
  <% if current_user.admin? %>
    <%= link_to 'Manage Users', "/admin/users", :class => 'nav-link admin' %>
    <%= link_to "Manage Jobs", "/admin/jobs" , :class => 'nav-link admin' %>
    <span class="nav-link">|</span>
  <% else %>
    <% unless current_user.profile_completion == 100 %>
      <span class="nav-data">Profile: <%= current_user.profile_completion %>
        <% if current_user.profile_completion? %>%
          <% else %><span class="text-danger">0%</span>
        <% end %>
      </span>
    <% end %>
    <span class="nav-data">Open Jobs: <%= Job.where(open: true).count %></span>
    <span class="nav-data mr-auto">Job Applications: <%= JobApplication.where(:user_id => current_user.id).count() %></span>
    <%= link_to 'Jobs',"/jobs", :class => 'nav-link jobs ' %>
    <%= link_to 'Dashboard',"/dashboard", :class => 'nav-link jobs ' %>
    <%#= link_to 'Profile', edit_user_registration_path, :class => 'nav-link edit-profile' %>
  <% end %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link logout' %>
